@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* IMPORT FONTS: Poppins */

:root {
    /* === Colors === */

    --bg-color      :   #FFF6F6;
    --box-primary   :   #2F2F2F;
    --color-primary :   #CDCDCD;
    --color-brand   :   #FD292F;
    --color-text    :   #000000;

    /* === Text === */

    --text-font     :   'Poppins', sans-serif;
    --text-weight   :   400;
    --text-size     :   16px;

    /* --- Default --- */
    
    --dft-padding-left-right: 10%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
}

body {
    background-color: var(--bg-color);
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--color-text);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px var(--dft-padding-left-right);
}

nav .logo img {
    width: 70px;
}

.links ul, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li {
    margin: 0 30px;
}

.links ul li a {
    color: var(--box-primary);   
}

.links ul li a:hover, .links li.selected a {
    color: var(--color-brand);
    font-weight: 700;
}

.buttons .btn {
    margin: 0 10px;
}

.buttons .btn.icon {
    font-size: 20px;
}

.buttons .btn.auth {
    background-color: var(--color-brand);
    border-radius: 10px;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
}

.buttons .btn.auth:hover {
    opacity: 0.9;
}

.f-container {
    background-color: var(--color-brand);
    padding: 50px var(--dft-padding-left-right);
    color: var(--color-text-s);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-container .text-frame {
    width: 45%;
}

.f-container .container-title {
    font-size: 50px;
    line-height: 110%;
}

.f-container .container-title .brand-text {
    color: white;
}

.f-container .container-description {
    color: white;
    margin-top: 15px;
    font-size: 17px;
}


.f-container .container-order {
    margin-top: 40px;
}

.f-container .container-order a { 
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px 35px;
    color: var(--color-brand);
    font-weight: 600;
}

.container-illustration img {
    width: 600px;
}

.ctn-destaques {
    text-align: center;
    padding: 50px var(--dft-padding-left-right);
}

.ctn-destaques .txts .sub-title {
    color: var(--color-brand);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.ctn-destaques .txts .title {
    color: var(--color-brand);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

.destaques {
    margin-top: 30px;
}

.destaques .destaque {
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 15px;
    margin: 0 5px;
}

.destaque img {
    border-radius: 10px;
    width: 270px;
}

.destaque .txts .name-product {
    text-transform: uppercase;
    font-size: 23px;
    color: var(--color-brand);
    margin-top: 15px;
}

.destaque .txts .description-text {
    color: var(--box-primary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 5px;
}

.destaque .button-order {
    background-color: var(--color-brand);
    border-radius: 10px;
    font-weight: 600;
    margin-top: 25px;
    color: white;
    padding: 12px;
}

.process {
    background-color: var(--color-brand);
    text-align: center;
    padding: 50px var(--dft-padding-left-right);
}

.process .txts .sub-title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.process .txts .title {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

.process .list {
    margin-top: 40px;
}

.process .process-list {
    display: inline-block;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin: 0 5px;
    padding: 15px;
}

.process .process-list img {
    width: 250px;
    border-radius: 10px;
}

.process .process-list h3 {
    color: var(--color-brand);
    font-size: 22px;
}


/* NILO */

#logomenu{
    position:absolute;
    display: flex;
    left: 30px;
    top:30px;

}

#banner-login{
    width: 270px;
    margin: 50px;    
}

.bold{
    font-weight: 700;
}

div#display{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
}
div#esquerda{
    width: 50%;
    
}
div#direita{
    display: flex;
    width: 50%;
    background-color: #FD292F;   
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.form{
    width: 70%;
    border-radius: 5px;
    margin: 0 15%;  
    height: 7vh;

}
.submit{
    background-color: #FD292F;
    color: white;
   
}


/* LARISSA */



body{
    background-color: #fff6f6;
}
/*
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



main > div {
    width: 50%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

    padding: 0 6%;
    position: relative;
}

main > div:nth-child(3) {
    align-items: center;
    background-color: #fd292f;
}
*/

.input-ctn input {
   
    width: 100%;
    border-radius: 5px;
    height: 7vh;
}

.two-input {
    display: flex;
    justify-content: space-between;
   
}

.two-input .input-ctn {
    position: relative;
    width: 49%;
}

.two-input .input-ctn input {
    width: 100%;
}

.submit1{
    width: 100%;
    height: 7vh;
    margin-top: 15px;
    align-items: center;
    background:  #fd292f;
    border-radius: 5px;
    color:  #fff6f6;
    cursor: pointer;
    border-style: none;
    

}

.etapa2{
   
    display: none ;
   
}

.form{
    margin-top: 15px;
}

*/

